testfargo/*
*.c.save*
*/jobheat*
bin/*
deb/*
arch/*
in/*
out?/
setups/fargo/fargo.units
setups/mri/mri.units
setups/fargoRT/fargoRT.units
src/rescale.c
std/.lastflags
std/.lastflags.old
*pyc
fargo3d
doc/build/
*.blocks
*tvortex.units
*3diso.units
*sod2d.units
*guilet*.units
*adv1d.units
*.avi
jobs/*.e[0-9]*
jobs/*.o[0-9]*
*.dat
*.swp
*.bak
?
*tests.log
*fargo3d*.tar.gz
temp_for_archive/
*~
*wave2d.unit*
*binary*units
*mrif*units
mp.pro
out?
*/*/*/.#*
*/*/.#*
*/.#*
.#*
# Build/validation artifacts
fargo3d_*
val/
diag*.out
diag*.err
