*TEST/*
bin/*
outputs/*
accretion_ring_full/*
fargo3d
fargo3d_*
arch/*
scripts/bound_*.code
src/rescale.c
std/.lastflags
std/.lastflags.old
*.pyc
*.blocks
*.tar.gz
*.ipynb_checkpoints
*.units
*.dat
*.swp
*.bak
*tests.log
mp.pro
*~
log*.txt