###########################################################
#   Planetary system initial configuration
###########################################################

# Planet Name 	Distance	Mass	 Accretion	Feels Disk	Feels Others
Jupiter		1.0		0.000363 0.0	  	YES		YES
Kepler38a	0.03055		1.0	0.0		NO		YES
Kepler38b	0.1		0.2626	0.0		NO		YES
